[submodule "lib/src/main/jni/ndk-modules/proj.4/proj-4.8.0/proj"]
	path = lib/src/main/jni/ndk-modules/proj.4/proj-4.8.0/proj
	url = https://github.com/OSGeo/PROJ.git
[submodule "lib/src/main/jni/ndk-modules/libxml2/libxml2-2.13.6"]
	path = lib/src/main/jni/ndk-modules/libxml2/libxml2-2.13.6
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "lib/src/main/jni/ndk-modules/liblzma/xz-5.2.1"]
	path = lib/src/main/jni/ndk-modules/liblzma/xz-5.2.1
	url = https://github.com/tukaani-project/xz.git
[submodule "lib/src/main/jni/ndk-modules/geos/geos-3.4.2"]
	path = lib/src/main/jni/ndk-modules/geos/geos-3.4.2
	url = https://github.com/libgeos/geos.git
[submodule "lib/src/main/jni/ndk-modules/libiconv/libiconv-1.13"]
	path = lib/src/main/jni/ndk-modules/libiconv/libiconv-1.13
	url = https://git.savannah.gnu.org/git/libiconv.git
